<div class="my-5 mx-auto w-full px-5 dark:bg-slate-700 dark:text-slate-100">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 grid-flow-row gap-3">
    {{#each articles }}
      {{#if this.url}}
        <a href="/views/articles/template?url={{this.url}}" target="_blank">
          <div id="card" class="min-w-[100px] max-width-[200px] h-[350px] border shadow shadow-lg round bg-slate-300 dark:bg-slate-500 opacity-[0.65] hover:opacity-[1.0] hover:-translate-y-1 transition duration-300 ease-in-out">
            <div id="card-body" class="flex flex-col h-full w-full">
            {{#if this.image_url}}
              <div id="card-image" class="w-full h-1/2">
                <img 
                class="object-cover h-full shadow shadow-lg" 
                src="{{this.image_url}}" 
                alt="{{this.image_text}}">
              </div>
            {{/if}}
              <div id="card-title" class="w-full h-1/2 flex flex-col items-between">
                <h1 class="font-bold text-2xl p-2 h-2/3">{{this.title}}</h1>
                {{#if published}}
                  <p class="p-2">{{published}}</p>
                {{/if}}
              </div>
            </div>
          </div>
        </a>
      {{/if}}
    {{/each}}
  </div>
</div>
