<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/default-dark.min.css" integrity="sha512-EF2rc4QyBiRAGUMVm+EjFPBbdVGaN/pwZhtuKyrC/dM+hcwTxI5BsEDUkrMRI77z4VlDAt/qVopePXB5+ZZ8Gw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>hljs.highlightAll();</script>
<link rel="stylesheet" href="/files/styles/markdown.css" />
<body>

{{{content}}}

<br><br><br><br>

<footer class="origin" style="justify-content: space-between; align-items: center;">
<div style="padding-left: 2rem">
  <a href={{origin}}><span class="origin-title">Original Document</span></a>
</div>
{{#if published}}
  <div style="padding-right: 2rem;">
    <span style="font-weight: bold;">Published:</span>&nbsp;
    <span style="font-family: monospace;">{{published}}</span>
  </div>
{{/if}}
</footer>
</body>
</html>
