{{#> index2 title="Markdown Blogger"}}
<style>
	h1 {
		font-size: 64px;
	}
	section {
		width: 100%;
		height: 100%;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 600px;
		margin: 0 auto 100px auto;
		padding: 1rem 0;
	}

	form input,
	form button {
		padding: 0.5rem;
		margin: 0.25rem;
		font-size: large;
	}

	form button {
		background: transparent;
		border: 2px solid green;
		color: green;
	}

	form button:hover {
		background: green;
		color: white;
	}

	p:not(:last-child) {
		font-size: large;
	}
	
	#tagline {
		margin-top: -50px;
		width: 100%;
		font-size: larger;
		font-family: monospace;
	}

	footer {
		background: #ddd;	
		width: 100%;
		position: fixed;
		bottom: 0;
		padding: 5px 0;
		font-size: medium;
		text-align: center;
		color: #111;
	}

	footer a:link,
	footer a:hover,
	footer a:active,
	footer a:visited {
		color: #000;
	}

	@media (prefers-color-scheme: dark) {
		footer {
			background: #111;
			color: #ddd;
		}
		
	footer a:link,
	footer a:hover,
	footer a:active,
	footer a:visited {
		color: #fff;
	}
	
		form button {
			background: transparent;
			border: 2px solid lightgreen;
			color: lightgreen;
		}

		form button:hover {
			background: lightgreen;
			color: black;
		}
	}
	
</style>
<section>
	<h1 class="text-3xl font-bold p-4">Markdown Blogger</h1>
	<p id="tagline">All you need is Markdown.</p>

	<hr>

	<p>Create a markdown file and add your table of content to it as demonstrated below.</p>
	<pre>
		<code>
		- [card image](image_url) | [title](document_url)
		</code>
	</pre>

	<p>If you don't have an image, leave it empty to autogenerate a placeholder image.</p>
	<pre>
		<code>
		- []() | [title](document_url)
		</code>
	</pre>
</section>
<hr>
<section>
	<h2>Demo Your Blog Here<h2>
	<form action="/views/articles?" method="GET" target="_blank">
		<input type="text" name="url" placeholder="URL to Your Table of Content" />
		<button>Generate Blog</button>
	</form>
</section>
<footer>
	<p>Made with &#128150; by <a href="https://www.danielshamany.com"><span>Daniel Shamany</span></a></p>
</footer>
{{ /index2 }}
