<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>{{post_title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
	<body>
	<style>
		img {
			width: 100%;
		}
	</style>
		{{{content}}}
	</body>
</html>
