
body {
      margin: 0;
      padding: 0;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1rem;
}

body:first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
}


img:first-of-type {
      width: 100%;
      box-shadow: 0px 5px 20px #000;
      margin-bottom: 2rem;
}

img:not(:first-of-type) {
      max-width: 50%;
      margin: 1rem;
      border: 1px solid #111;
      box-shadow: 0px 5px 20px #000;
}

img:nth-of-type(odd) {
      float: right;
}

img:nth-of-type(even) {
      float: left;
}

code {
      background: #222;
      color: #ddd;
      padding: 0.25em;
}

pre {
      padding: 1em 1.5em;
      line-height: 1.5;
      white-space: pre-wrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
      padding: 0.5rem 1rem;
}

h1 {
      margin: 2rem 0;
}

a:link,
a:hover,
a:active,
a:visited {
      color: #eee
}

.origin {
      width: 100%;
      padding: 1rem 0;
      position: fixed;
      bottom: 0;
      background: #111a;
      display: flex;
}

.origin-title {
      width: 100%;
      margin: 0 auto;
      font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
      body {
            background-color: rgb(51 65 85);
            color: #eee;
      }

      a:link,
      a:hover,
      a:active,
      a:visited {
            color: #eee;
      }
}
